@{
    var showClass = IsVisible ? "d-block" : "d-none";
}

<div class="dark-overlay @showClass" @onclick="Close">
    <div class="toast-container p-3 @showClass popup" data-bs-autohide="true" data-bs-delay="5000">
        <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">@HeaderText</strong>
                <button type="button" class="btn-close" aria-label="Close" @onclick="Close"></button>
            </div>
            <div class="toast-body">
                <div class="card-detail">
                    <img id="cardImage" src="@(_card?.OriginalImageUrl)" alt="@(_card?.Name)"/>
                    <div>
                        <p><strong>Mana Cost:</strong> @(_card?.ConvertedManaCost)</p>
                        <p><strong>Type:</strong> @(_card?.Type)</p>
                        <p><strong>Rarity:</strong> @(_rarity?.Name)</p>
                        <p><strong>Set Code:</strong> @(_card?.SetCode)</p>
                        <p><strong>Set Name:</strong> @(_set?.Name)</p>
                        <p><strong>Text:</strong> @(_card?.Text)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>