@{
    var showClass = IsVisible ? "d-block" : "d-none";
}

<div class="dark-overlay @showClass" @onclick="Close">
    <div class="toast-container p-3 @showClass popup" data-bs-autohide="true" data-bs-delay="5000">
        <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">@HeaderText</strong>
                <button type="button" class="btn-close" aria-label="Close" @onclick="Close"></button>
            </div>
            <div class="toast-body">
                <div class="card-detail">
                    <img id="cardImage" src="@Controller!.GetCardImageUrl()" alt="@Controller.GetCardName()"/>
                    <div>
                        <p><strong>Mana Cost:</strong> @Controller.GetCardManaCost()</p>
                        <p><strong>Type:</strong> @Controller.GetCardType()</p>
                        <p><strong>Rarity:</strong> @Controller.GetCardRarityName()</p>
                        <p><strong>Set Code:</strong> @Controller.GetCardSetCode()</p>
                        <p><strong>Set Name:</strong> @Controller.GetSetName()</p>
                        <p><strong>Text:</strong> @Controller.GetCardText()</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>