@page "/decks"
@rendermode InteractiveServer
@inherits DecksBase

<PageTitle>Decks</PageTitle>

<div class="container">
    <h1>Decks</h1>

    <ul>
    @foreach (var deck in DecksController!.GetDecksList())
    {
        <li @onclick="() => OpenPopup(deck)">@deck.DeckName</li>
    }
    </ul>

    <button class="btn btn-primary" @onclick='NavigateToSetup'>Create a new deck.</button>
</div>


<!-- todo Move popup to a separate file (component) -->
@if (showPopup)
{
    <div class="popup">
        <h2>@selectedDeck.DeckName</h2>
        <p>@selectedDeck.Id</p>
        <!-- Todo Get list of cards in the deck_card table with the deck id -->
        <p>@selectedDeck.DeckCards.Count</p>
        @foreach (var deckCard in selectedDeck.DeckCards)
        {
            <p>@deckCard.Id</p>
            <img src="@deckCard?.Card?.OriginalImageUrl">
        }

        <button @onclick="ClosePopup">Close</button>
    </div>
}

@code {
    bool showPopup = false;
    UserDeck selectedDeck;

    void OpenPopup(UserDeck deck)
    {
        selectedDeck = deck;
        showPopup = true;
    }

    void ClosePopup()
    {
        showPopup = false;
    }
}