@page "/draft/{SetCode}"

<PageTitle>Draft</PageTitle>
<div class="header">
    <h1>Draft</h1>
    <button class="btn-draft" @onclick="OpenPack">@((table.Count == 0) ? "Open your first booster pack" : "Open next booster pack")</button>
</div>
@if (table.Count > 0)
{
    <div class="cards-container">
        @foreach (var card in table)
        {
            if (@card.Instance.OriginalImageUrl is not null)
            {
                <div class="draft-card">
                <CardComponent card="@card.Instance"/>
                <button class="btn" @onclick="@(_ => AddCardToDeck(card.Tag))">Add to deck</button>
                </div>
            }
        }
    </div>

    <h1>Deck</h1>
    @if (deck.Count == 0)
    {
        <p>Your deck is empty.</p>
    }

    <div class="cards-container">
        @foreach (var card in deck)
        {
            <div class="draft-card">
                <CardComponent card="@card.Instance"/>
                <button class="btn remove-btn" @onclick="@(_ => RemoveCardFromDeck(card.Tag))">Remove card</button>
            </div>
        }
    </div>

    <div class="save-deck">
        <label>Deck Name:</label>
        <input @bind="deckName" />
        <button class= "btn-draft" @onclick="FinishDraft">Save the deck</button>
    </div>
    <footer></footer>
}
