@page "/draft/{SetCode}"

<PageTitle>Draft</PageTitle>

<h1>Draft</h1>

<button class="btn" @onclick="OpenPack">@((table.Count == 0) ? "Open your first booster pack" : "Open next booster pack")</button>

@if (table.Count > 0)
{
    <h3>Table</h3>
    @foreach (var card in table)
    {
        if (@card.Instance.OriginalImageUrl is not null)
        {
            <div class="draft-card">
            <CardComponent card="@card.Instance"/>
            <button class="btn" @onclick="@(_ => AddCardToDeck(card.Tag))">Add to deck</button>
            </div>
        }
    }

    <h3>Deck</h3>
    @if (deck.Count == 0)
    {
        <p>Your deck is empty.</p>
    }


    @foreach (var card in deck)
    {
        <div class="draft-card">
            <CardComponent card="@card.Instance"/>
            <button class="btn remove-btn" @onclick="@(_ => RemoveCardFromDeck(card.Tag))">Remove card</button>
        </div>
    }

    <div class="save-deck">
        <label>Deck Name:</label>
        <input @bind="deckName" />
        <button @onclick="FinishDraft">Finish Draft</button>
    </div>
}
