@page "/draft/{SetCode}"
@using Models

<PageTitle>Draft</PageTitle>

<h1>Draft</h1>

<button @onclick="OpenPack">Open next booster pack</button>

<h3>Table</h3>
@foreach (Card card in table)
{
    if (@card.OriginalImageUrl is not null) {
        <img src="@card.OriginalImageUrl" @onclick="@(_ => AddCardToDeck(0))">
    }
     
}

<h3>Deck</h3>

@foreach (Card card in deck)
{
    <img src="@card.OriginalImageUrl" @onclick="@(_ => RemoveCardFromDeck(0))">
}
