@page "/draft/{SetCode}"

<PageTitle>Draft</PageTitle>

<h1>Draft</h1>

<button @onclick="OpenPack">Open next booster pack</button>

<h3>Table</h3>
@foreach (var card in table)
{
    if (@card.Instance.OriginalImageUrl is not null)
    {
        <div class="draft-card">
        <CardComponent card="@card.Instance"/>
        <button @onclick="@(_ => AddCardToDeck(card.Tag))">Add to deck</button>
        </div>
    }
}



<h3>Deck</h3>
<ul>
@foreach (var card in deck)
{
    <img src="@card.Instance.OriginalImageUrl" @onclick="@(_ => RemoveCardFromDeck(card.Tag))">
}
</ul>


<label>Deck Name:</label>
<input @bind="deckName" />
<button @onclick="FinishDraft">Finish Draft</button>